body{
    background: #000;
    
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.btn-teal{
    background-color: teal;
}
.btn-orange{
    background-color: orange;
}
.btn-purple{
    background-color: purple;
}
.btn-teal:hover,
.btn-teal.active{
    background-color: pink;
}
.btn-orange:hover{
    background-color: greenyellow;
}
.btn-purple:hover{
    background-color: gold;
}
