/* body{
    background: #000;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background: gray;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo :hover{
    color: yellow;
    text-shadow: 0 0 25px white,
                 0 0 50px white;
    transform: scale(1,1);
    font-size: 25px;
    transition: 0.2s;
    /* text-decoration: underline; */
}
span{
    color: white;
}
.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin:0 20px ;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}
.navbar a:hover,
.navbar a.active{
    color:yellow;
    border-bottom: 3px solid orangered;
    color: yellow;
    text-shadow: 0 0 25px white,
                 0 0 50px white;
    transform: scale(1,1);
}
.contact{
    padding: 7px ;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.contact:hover{
    background-color: orangered;
    color: white;
    box-shadow: 0 0 25px white,
                 0 0 50px white;
    transition: 0.2s;
}
p{
    margin-top: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 23px;
    margin-left: 50px;
    font-family: monospace;
}
h3{
    margin-top: 130px;
    margin-left: 310px;
    font-size: 60px;
}
h1{
    /* margin-top: ; */
}
.footer{
    text-align: center;
}
.p1{
    font-size: 16px;
}
strong{
    color: orangered;
}
strong:hover{
    color: white;
    background-color: orangered;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 25px rgb(219, 19, 19),
                0 0 50px rgb(244, 248, 6);
}
.btn-1{
    margin-left: 200px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
}
.btn-2{
    margin-left: 50px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
}
.btn-1:hover{
    background-color: orangered;
    color: white;
    box-shadow: 0 0 25px palevioletred,
                0 0 50px palevioletred ;
    transition: 0.2s;
}
.btn-2:hover{
    background-color: orangered;
    color: white;
    box-shadow: 0 0 25px palevioletred,
                0 0 50px palevioletred;
    transition: 0.2s;
}
h1{
    margin-left: 135px;
    font-size: 25px;
}
